
<div class=" jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">im somehow stil alive.</p>
  <hr class="my-4">
  <p>This is my Emo App </p>
  <a class="btn btn-primary btn-lg" href="Sign_In" role="button">Sign In</a>
</div>